/*---------------Colors---------------------------------------------- */
/*Pallete from https://coolors.co */

$white: #F4F4F8;
$grey: #E6E6EA;
$blue: #009FB7;
$orange: #FED766;
$red: #FE4A49;
$darker-red: #E14140;

/*---------------Fonts---------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Lato|Lora');

$title-font:'Lora', serif;
$main-font:'Lato', sans-serif;
/*------------------------------------------------------------- */
body {
    font-family: $main-font;
    background-color: $white;
}

h1 {
    font-family:$title-font;
    color:$blue;
    text-align:center;
    margin:20px;
}

p {
    font-family:$main-font;
    color:$blue;
    font-size:16px;
    text-align:center;
    padding-top:10px;
}

textarea {
    width:100%;
    margin-top:20px;
}

span {
    font-weight: bold;
}

form {
    text-align: center;
    color:$blue;
}

.full-width-input {
    width:100%;
}

.title {
    font-weight:bold;
    margin:15px;
}

.selection {
    border-radius:10px;
    margin:15px;
    background-color:$grey;
}

.card, .card-body {
        margin-top:5px;
        background-color:$grey;
    }

.center-button {
    display:block;
    margin:auto;
}

input[type=radio] {
    border: 0px;
    height: 1em;
}

.btn {
    margin-top:10px;
    margin-bottom:10px;
    background-color:$orange;
}

.btn-emphasis {
    background-color:$red;
}

.btn-emphasis:hover{
    background-color:$darker-red;
}

.add-examples-button {
   margin-bottom:20px; 
}

.toggle {
    position: inline-block;
    width:110px;
}
/*Slider code from - https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top:10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*----------------------------*/


.added-problems {
    margin-bottom:10px;
}