/*---------------Colors---------------------------------------------- */
/*---------------Pallete from https://coolors.co---------------------------------------------- */

$white: #F4F4F8;
$grey: #E6E6EA;
$blue: #009FB7;
$orange: #FED766;
$red: #FE4A49;

/*---------------Fonts---------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Lato|Lora');

$title-font:'Lora', serif;
$main-font:'Lato', sans-serif;
/*------------------------------------------------------------- */
/*------------------------------------------------------------- */
textarea {
    width:100%;
    margin-top:20px;
    height:300px;
}

body {
    font-family: $main-font;
    background-color: $white;
}

h1 {
    font-family:$title-font;
    color:$blue;
    text-align:center;
    margin:20px;
}

p {
    font-family:$main-font;
    color:$blue;
    font-size:20px;
}

span {
    font-weight: bold;
}

form {
    text-align: center;
}

.title {
    visibility:hidden;
    font-weight:bold;
    margin:15px;
}

.selection {
    border-radius:10px;
    margin:15px;
    background-color:$grey;
}

.card, .card-body {
        margin-top:5px;
        background-color:$grey;
    }

.center-button {
    display:block;
    margin:auto;
}

input[type=radio] {
    border: 0px;
    height: 1em;
}

.btn {
    margin-top:10px;
    margin-bottom:10px;
    background-color:$orange;
}

.btn-primary {
    background-color:$red;
}